header
{
    width: 100%;
    height: 40px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: end;
}

header #kata
{
    align-self: flex-end;
}